.menu-button {
  margin: 1em 0 0 1em;
}

.menu {
  font-size: 1.5em;
  cursor: pointer;
}

.cards-wrapper {
  margin: 2em 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-hor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button-container {
  width: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-vert-container {
  width: 15em;
  height: 10em;
  margin: 1em 0 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  perspective: 1000px;
}

.card {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: -2px 3px 4px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 0.2s;
  transform-style: preserve-3d;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: rgb(240, 241, 221);
}

.card-back {
  transform: rotateY(180deg);
  background-color: rgb(221, 221, 216);
}

.matching-wrapper {
  display: flex;
  justify-content: center;
}

.matching-container {
  display: flex;
  justify-content: center;
}

.matching-col {
  display: flex;
  flex-direction: column;
  margin: 0 .5em 0 .5em;
}

.match-card {
  width: 12em;
  height: 8em;
  margin: .5em .2em .5em .2em;
  background-color: rgb(240, 241, 221);
  border-radius: 10px;
  box-shadow: -2px 3px 4px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}